/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 {
    text-align: center;
    color: #333;
}

a {
    text-decoration: none;
    color: #007BFF;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

form {
    max-width: 400px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: none;
}

.login-page, .dashboard, section {
    padding: 20px;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    background-color: #f4f4f4;
    padding: 10px;
}

.shortcuts {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.shortcut {
    padding: 20px;
    background-color: #f4f4f4;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100px;
    transition: transform 0.2s;
}

.shortcut:hover {
    transform: scale(1.1);
    background-color: #e6e6e6;
}
.nav-header{
    display: flex;
    justify-content: left;
    gap: 15px;
    margin-top: 20px;
    margin-left: 20px;
}
.nav-head{
    padding: 20px;
    background-color: #f4f4f4;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100px;
    transition: transform 0.2s;
}
.header-inicio{
    background-color:#1c7de4b0;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}
/* Gráficos */
canvas {
    max-width: 100%;
    margin: 20px 0;
}

/* Seções */
main section {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}
